body
{
    
    background-color: #342A32;
    color: white;
}



.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;

}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
    display: block;
    margin:auto;
    position:relative;
    top: -200px;
}


    
.fb-profile-text {
    font-weight: 500;
    font-size: 35px;
    text-align: left;
    margin-left: 230px;
    position:relative;
    top: -200px;
    font-family: 'Suez One', serif;
    padding: -30px;
}
.fb-profile-text-p {
    font-weight: 500;
    font-size: 25px;
    text-align: left;
    margin-left: 230px;
    font-family: 'Arial', sans-serif;
    position:relative;
    top: -250px;
    padding-top: -30px;
    float:left;

}

.buttondiv{
    float:left;
    position:relative;
    margin-left:80px;
    height:5px;
    top: -230px;
}

.button1{
    padding: 30px 60px;
    font-family: 'Suez One', serif;
    font-size: 25px;

}

@media (max-width:768px)

{
.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}